<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Print Republic - авторские принты</title>

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KHK6SHV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
	
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KHK6SHV');</script>
<!-- End Google Tag Manager -->
	
	
</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KHK6SHV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	<div id="app">
		<header class="header page2__header" id="yak1">
			<div class="top-row">
				<div class="top-block">
					<a href="index.html"><img src="images/logo.png"></a>
				</div>
				<div class="top-block">
					<div class="top-sub-block">
						<a href="#ordermap">Магазин в ТЦ Замок</a>
						<span>пр. Победителей 65</span>
						<a href="tel:+375296540630">+375(29)654-06-30</a>
						<a>Ежедневно с 10 до 22:00</a>
					</div>
					<div class="top-sub-block">
						<a href="#ordermap">Оптовый отдел</a>
						<a href="mailto:sales@prp.by">sales@prp.by</a>
						<a href="tel:+375296440630">+375(29)644-06-30</a>
						<a>Пн-Пт с 10 до 19:00</a>
					</div>
				</div>
			</div>
			<div class="social">
				<a href="http://vk.com/printrepublic" target="_blank"></a>
				<a href="http://www.facebook.com/PrintRepublicby/" target="_blank"></a>
				<a href="https://www.instagram.com/printrepublic.by/" target="_blank"></a>
			</div>
	
			<h1>Авторские принты<br />дизайнеров</h1>
			<div class="sub-header">Напечатаем за 15 минут!</div>
	
			<div class="container">
				<div class="why-wrapper">
					<div class="why">Принты дизайнеров: <br> В.Цеслера, И.Суковой и <br> В. Медведевой</div>
				</div>
			</div>
        </header>
        
        <div class="section-10">
            <div class="authors">
                <p @click="selectCesler" v-bind:class="{active: cesler}">Владимир Цеслер</p>
                <p @click="selectSykova" v-bind:class="{active: sykova}">Ирина Сукова</p>
                <p @click="selectMedvedeva" v-bind:class="{active: medvedeva}">Варвара Медведева</p>
            </div>
            <div class="prints-container cesler" v-if="cesler">
                <div class="print" v-for="item in ceslerPrints">
                    <p class="print__title">{{item.title}}</p>
                    <div class="print__img" :style='item.style'>
                        <img :src='item.imgSrc'>
                    </div>
                    <div class="print__btn" @click="selectPrint">Выбрать</div>
                </div>
            </div>

            <div class="prints-container sykova" v-if="sykova" >
                <div class="print" v-for="item in sykovaPrints">
                    <p class="print__title">{{item.title}}</p>
                    <div class="print__img" :style='item.style'>
                        <img :src='item.imgSrc'>
                    </div>
                    <div class="print__btn" @click="selectPrint">Выбрать</div>
                </div>
            </div>

            <div class="prints-container medvedeva" v-if="medvedeva">
                <div class="print" v-for="item in medvedevaPrints">
                    <p class="print__title">{{item.title}}</p>
                    <div class="print__img" :style='item.style'>
                        <img :src='item.imgSrc'>
                    </div>
                     <div class="print__btn" @click="selectPrint">Выбрать</div>
                </div>
            </div>
        </div>

        
	
		<div class="section-7" id="selectPrint">
			<form @submit="sendEmail">
				<h2 class="forma__title">Заказать печать онлайн</h2>
				<div class="forma__container">
					<div class="forma__block">
						<p class="block-title">На что наносим принт?</p>
					
						<select @change="selectName">
							<option 
								:value="item.name"
								v-for="item in products"
							>
								{{item.name}}
							</option>
						</select>

						<select @change="selectType">
							<option 
								:selected='type.typeName === currentType.typeName'
								:value="type.typeName"
								v-for="type in currentObj.type"
							>
								{{type.typeName}}
							</option>
						</select>

						<select @change="selectColor">
							<option 
								:selected='color.name === currentColor.name'
								:value="color.id"
								v-for="color in currentType.colors"
								v-bind:style="{
									color: (color.name == 'Черный' || color.name == 'белая, черная ручка и внутри') ? '#fff' : '#000',
									background: color.colorCode
								}"
							>
								{{color.name}}
							</option>
						</select>

						<select>
							<option 
								:selected='size === currentSize'
								v-for="size in currentColor.size"
							>
								{{size}}
							</option>
						</select>

					</div>
					<div 
						class="forma__block forma__img"
						v-bind:style="{backgroundImage: currentColor.url}"
					>
						<div v-if="selectedPrintUrl">
							<img 
								v-bind:src="selectedPrintUrl" 
								class="form-img__upload"
								v-bind:class="{
									bagPosition: currentObj.name === 'Сумка',
									cupPosition: currentObj.name === 'Кружка',
									childPosition: currentType.typeName === 'Детская',
								}"
							>
						</div>
					</div>
					<div class="forma__block">
						<p class="block-title">Контактные данные</p>
						<input type="text" placeholder="Ваше имя" v-model="name" required>
						<input type="text" placeholder="Телефон" v-model="phone" required>
						<input type="text" placeholder="E-mail" v-model="email" required>
						<button class="block-btn custom-print__button" type="button">
							<a href="index.html#form">Загрузить свой принт</a> 
                        </button>
						<p class="amount">Итого к оплате: <strong>{{round(currentType.price + 10 - (currentType.price + 10) * discountSize)}} BYN</strong></p>
					</div>
				</div>
				<div class="forma__discount">
					<input type="text" class="discount__input" placeholder="Скидочный код" v-model="promoCode">
					<button class="block-btn discount__button" type="button" @click=discount>Применить</button>
				</div>
				<div v-if="modal">
					<h4 class="modalWindow" style="margin-top: 0; color: red; max-width: 295px; text-align: center;">{{modalText}}</h4>
				</div>
				<button type="submit" class="btn forma__btn" v-bind:class="{btn_disabled: isDisabled }" :disabled="isDisabled">
					<span v-if="!isDisabled">Отправить заяку на печать!</span>
					<div v-if="isDisabled" class="spiner-wrapper">
						<p>Файл загружается</p>
						<div class="loader"></div>
					</div>
				</button>
				<p class="form__caption">После получения заказа с вами свяжется наш менеджер для уточнения всех деталей</p>
			</form>
		</div>
	
		<div class="section-8">
			<div class="section-8__container">
				<h2 class="section-8__title">Будем рады видеть вас <br> в нашем магазине</h2>
				<div class="section-8__content-container">
					<div class="section-8__content">
						<p class="section-8__subtitle">ТЦ Замок</p>
						<p>г. Минск, пр. Победителей 65 <br> 3й этаж, торговое место 23С</p>
						<p> 
							+375 (29) 654-06-30 <br>
							+375 (33) 654-06-30 <br> 
							+375 (25) 654-06-30 <br>
							zamok@prp.by
						</p>
					</div>
					<div class="section-8__img"></div>
				</div>
			</div>
		</div>
	
		<div class="section-9">
			<iframe src="https://www.google.com/maps/d/embed?mid=1vaZ-XBILZiCVaGMGBHxgW_4HPNM" width="100%" height="470"></iframe>
		</div>
	</div>

	<script src="https://smtpjs.com/v3/smtp.js"></script>
	<script type="module" src="js/script.js"></script>

<script async src="//call-tracking.by/scripts/calltracking.js?707e301d-d346-4c8c-a95b-b1a00321e251"></script>
<script type="text/javascript" src="https://spikmi.com/Widget?Id=1702"></script>
</body>
</html>