<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name='yandex-verification' content='5df7324885b9943c'/>
    <meta charset="utf-8">
    <meta name="description" content="Печать на майках, футболках, свитшотах, сумках и кружках за 15 минут! PrintRepublic">
    <meta name="keywords" content="печатьна майках, печать на футболках, майкаи с принтами, фото на майку, фото на футболку, печать на одежде, принты">
    <title>Печать на майках, футболках, свитшотах, сумках, кружках и холстах! PrintRepublic</title>

	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <meta property="og:title" content="PrintRepublic - Печать на майках, футболках, свитшотах за 15 минут!"/>
    <meta property="og:url" content="http://PrintRepublic.by"/>
    <meta property="og:image" content="http://PrintRepublic.by/oglogo.jpg"/>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KHK6SHV');</script>
<!-- End Google Tag Manager -->
</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KHK6SHV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	<div id="app">
		<header class="header">
			<div class="top-row">
				<div class="top-block">
					<a><img src="images/logo.png"></a>
				</div>
				<div class="top-block">
					<div class="top-sub-block">
						<a href="#ordermap">Магазин в ТЦ Замок</a>
						<span>пр. Победителей 65</span>
						<a href="tel:+375296540630">+375(29)654-06-30</a>
						<a>Ежедневно с 10 до 22:00</a>
					</div>
					<div class="top-sub-block">
						<a href="#ordermap">Оптовый отдел</a>
						<a href="mailto:sales@prp.by">sales@prp.by</a>
						<a href="tel:+375296440630">+375(29)644-06-30</a>
						<a>Пн-Пт с 10 до 19:00</a>
					</div>
				</div>
			</div>
			<div class="social">
				<a href="http://vk.com/printrepublic" target="_blank"></a>
				<a href="http://www.facebook.com/PrintRepublicby/" target="_blank"></a>
				<a href="https://www.instagram.com/printrepublic.by/" target="_blank"></a>
				<div class="custom-prints-btn">
					<a href="author-prints.html">Авторские принты</a>	
				</div>
			</div>
	
			<h1>Печать на футболках,<br />худи и кружках</h1>
			<div class="sub-header">Сделаем за 15 минут!</div>
			<div class="btn">
				<a href="#yak1">Заказать</a>	
			</div>
	
			<div class="container">
				<div class="why-wrapper">
					<div class="why">Почему стоит выбрать<br />именно нас</div>
				</div>
			</div>
		</header>
		<div class="container mt-3">
			<div class="row">
				<img src="images/cotton.png" class="mr-3" alt="image1">
				<div>
					<div class="inner">Майки 100% качественный хлопок, <span>худи 80% хлопок 20% полиэстер</span></div>
					<p>Мы уделили особое внимание поиску качественных маек и худи.
					Основная идея простая -  мы делаем одежду для ежедневной носки,
					а не изделие «на один раз».
					PrintRepublic - это бренд, который гарантирует качество. Заказываете вы для себя
					или для подарка, для своих сотрудников или для других целей, будьте уверены -
					наша продукция будет отлично выглядеть и носиться.</p>
				</div>
			</div>
	
			<div class="row mt-3">
				<img src="images/wash.png" alt="image2" class="tab-shown">
				<div class="mr-3">
					<div class="inner">От 30 до 60 стирок с минимальным износом рисунка </div>
					<p>Кроме качественных маек и худи мы используем
					качественные чернила, которые после запекания надежно
					держатся на поверхности.
					Мы сами пользуемся своей продукцией на протяжении
					5-ти лет и можем с увереностью говорить не только
					про количество стирок, но и про 3 года регулярной носки.
					</p>
				</div>
				<img src="images/wash.png" alt="image2" class="mobile-hidden tab-hidden">
			</div>
	
			<div class="row mt-3">
				<img src="images/shirt.png" class="mr-3" alt="image3">
				<div>
					<div class="inner">Бесплатно помогаем реализовать задуманную идею, подобрать изображение</div>
					<p>Мы привествуем готовые решения с вашей стороны.
					Но если вы просто увидели в интернете какую-то картинку,
					надпись или просто хотите придумать что-то новое - вы наш клиент.
					Наш дизайнер вместе с вами сделает и подготовит картинку для печати на 
					майку или худи.
					За это не придется доплачивать.
					</p>
				</div>
			</div>
		</div>
	
		<div class="section-3">
			<!-- <img class="section-3_1" src="images/tri1.png" alt="image4" id="img-1"> -->
			<img class="section-3_2" src="images/tri2.png" alt="image5" id="img-2">
			<img class="section-3_3" src="images/tri3.png" alt="image6" id="img-3">
			<div class="section-3_4"></div>
			<img class="section-3_5" src="images/tri5.png" alt="image8" id="img-5">
			<div class="container">
				<div class="text">Возможно запечатать<br />почти всю майку с двух сторон,<br />рукава, либо отдельные участки</div>
			</div>
	<div class="container">
			<div class="shirts">
					<img src="images/shirts.png" alt="image9">
				</div>
		</div>
		</div>
		
	
		<div class="section-4">
			<img src="images/donut.png" alt="image10">
			<div class="section-4__inner">
				<div class="section-4__header">
					15 минут<br>и ваша майка<br>готова!
				</div>
				<div class="section-4__text">
					Именно столько время<br>необходимо, чтобы напечатать<br>ваш дизайн на майке или худи.<br>Вы можете сделать это по<br>предварительному заказу<br>или прямо на месте
				</div>
			</div>
		</div>
	
		<div class="section-5">
			<div class="section-5__inner">
				<div class="section-5__header">
					Цена <span>5 вариантов</span>
				</div>
				<div class="section-5__subheader">
					все просто!
				</div>
			</div>
	
			<div class="stripes">
				<img src="images/left_tri.png" alt="tri" class="left_tri tab-hidden" id="img-6">
				<img src="images/right_tri.png" alt="tri" class="right_tri tab-hidden" id="img-7">
	
				<div class="stripe_1">
					<div class="stripe__inner">
						<div class="stripe__price">54,9<sup>BYN</sup></div>
						<div class="flex-1">
							<div class="stripe__header">Мужская майка +<br>подарочная упаковка</div>
							<div class="stripe__text">Полная запечатка на 1 сторону<br>Любой размер и цвет</div>
						</div>
						<a href="#form"><img src="images/button.png" alt="button"></a>
					</div>
				</div>
				<div class="stripe_2">
					<div class="stripe__inner">
						<div class="stripe__price">47,9<sup>BYN</sup></div>
						<div class="flex-1">
							<div class="stripe__header">Женская майка +<br>подарочная упаковка</div>
							<div class="stripe__text">Полная запечатка на 1 сторону<br>Любой размер и цвет</div>
						</div>
						<a href="#form"><img src="images/button.png" alt="button"></a>
					</div>
				</div>
				<div class="stripe_3">
					<div class="stripe__inner">
						<div class="stripe__price">42,9<sup>BYN</sup></div>
						<div class="flex-1">
							<div class="stripe__header">Детская майка +<br>подарочная упаковка</div>
							<div class="stripe__text">Полная запечатка на 1 сторону<br>Любой размер и цвет</div>
						</div>
						<a href="#form"><img src="images/button.png" alt="button"></a>
					</div>
				</div>
				<div class="stripe_4">
					<div class="stripe__inner">
						<div class="stripe__price">84,9<sup>BYN</sup></div>
						<div class="flex-1">
							<div class="stripe__header">Худи +<br>подарочная упаковка</div>
							<div class="stripe__text">Полная запечатка на 1 сторону<br>Любой размер, черная или меланж</div>
						</div>
						<a href="#form"><img src="images/button.png" alt="button"></a>
					</div>
				</div>
				<div class="stripe_5">
					<div class="stripe__inner">
						<div class="stripe__price">19,9<sup>BYN</sup></div>
						<div class="flex-1">
							<div class="stripe__header">Кружка +<br>подарочная упаковка</div>
							<div class="stripe__text">Полная запечатка<br>Любой цвет</div>
						</div>
						<a href="#form"><img src="images/button.png" alt="button"></a>
					</div>
				</div>
			   
				<div class="stripe_6">
					<div class="stripe__inner">
						<div class="stripe__price">29,9<sup>BYN</sup></div>
						<div class="flex-1">
							<div class="stripe__header">Эко-сумка +<br>подарочная упаковка</div>
							<div class="stripe__text">Полная запечатка на 1 сторону<br>Любой цвет</div>
						</div>
						<a href="#form"><img src="images/button.png" alt="button"></a>
					</div>
				</div>
				
			</div>
		</div>
	
		<div class="section-6">
			<div class="section-6__header">
				Примеры работ в нашем<br>Instagram <a href="https://instagram.com/printrepublic.by">@printrepublic.by</a>
				<p></p>
			</div>
	
			<!--<div class="section-6__widget"></div>-->
				<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-fd9d530d-c70e-4301-8645-6cebca1bbc15"></div>
		</div>
	
		<a href="#form"></a><div class="section-7" id="yak1">
			<form @submit="sendEmail">
				<a name="form"></a>
				<h2 class="forma__title">Заказать печать онлайн</h2>
				<div class="forma__container">
					<div class="forma__block">
						<p class="block-title">На что наносим принт?</p>
					
						<select @change="selectName">
							<option 
								:value="item.name"
								v-for="item in products"
							>
								{{item.name}}
							</option>
						</select>

						<select @change="selectType">
							<option 
								:selected='type.typeName === currentType.typeName'
								:value="type.typeName"
								v-for="type in currentObj.type"
							>
								{{type.typeName}}
							</option>
						</select>

						<select @change="selectColor">
							<option 
								:selected='color.name === currentColor.name'
								:value="color.id"
								v-for="color in currentType.colors"
								v-bind:style="{
									color: (color.name == 'Черный' || color.name == 'белая, черная ручка и внутри') ? '#fff' : '#000',
									background: color.colorCode
								}"
							>
								{{color.name}}
							</option>
						</select>

						<select @input="selectSize">
							<option 
								:selected='size === currentSize'
								v-for="size in currentColor.size"
							>
								{{size}}
							</option>
						</select>

					</div>
					<div 
						class="forma__block forma__img"
						v-bind:style="{backgroundImage: currentColor.url}"
					>
						<div v-if="urlImg">
							<img 
								v-bind:src="urlImg" 
								class="form-img__upload"
								v-bind:class="{
									bagPosition: currentObj.name === 'Сумка',
									cupPosition: currentObj.name === 'Кружка',
									childPosition: currentType.typeName === 'Детская',
								}"
							>
						</div>
					</div>
					<div class="forma__block">
						<p class="block-title">Контактные данные</p>
						<input type="text" placeholder="Ваше имя" v-model="name" required>
						<input type="text" placeholder="Телефон" v-model="phone" required>
						<input type="text" placeholder="E-mail" v-model="email" required>
						<button class="block-btn custom-print__button" type="button">
							<a href="author-prints.html">Выбрать авторский принт</a>
						</button>
						<button class="block-btn" type="button">
							<label  for="load" class="uploadFile">{{fileName}}</label>
							<input 
								type="file"
								id="load" 
								style="position: relative; z-Index: -55; margin-top: -35px;" 
								@input="uploadPrint" 
								accept=".jpg, .jpeg, .png"
								required
							>
						</button>
						
						<p class="amount">Итого к оплате: <strong>{{round(currentType.price - currentType.price * discountSize)}} BYN</strong></p>
					</div>
				</div>
				<div class="forma__discount">
					<input type="text" class="discount__input" placeholder="Скидочный код" v-model="promoCode">
					<button class="block-btn discount__button" type="button" @click=discount>Применить</button>
				</div>
				<div v-if="modal">
					<h4 class="modalWindow" style="margin-top: 0; color: red; max-width: 295px; text-align: center;">{{modalText}}</h4>
				</div>
				<button type="submit" class="btn forma__btn" v-bind:class="{btn_disabled: isDisabled }" :disabled="isDisabled">
					<span v-if="!isDisabled">Отправить заяку на печать!</span>
					<div v-if="isDisabled" class="spiner-wrapper">
						<p>Файл загружается</p>
						<div class="loader"></div>
					</div>
				</button>
				<p class="form__caption">После получения заказа с вами свяжется наш менеджер для уточнения всех деталей</p>
			</form>
		</div>
	
		<div class="section-8">
			<div class="section-8__container">
				<h2 class="section-8__title">Будем рады видеть вас <br> в нашем магазине</h2>
				<div class="section-8__content-container">
					<div class="section-8__content">
						<p class="section-8__subtitle">ТЦ Замок</p>
						<p>г. Минск, пр. Победителей 65 <br> 3й этаж, торговое место 23С</p>
						<p> 
							+375 (29) 654-06-30 <br>
							+375 (33) 654-06-30 <br> 
							+375 (25) 654-06-30 <br>
							zamok@prp.by
						</p>
					</div>
					<div class="section-8__img"></div>
				</div>
			</div>
		</div>
	
		<div class="section-9">
			<iframe src="https://www.google.com/maps/d/embed?mid=1vaZ-XBILZiCVaGMGBHxgW_4HPNM" width="100%" height="470"></iframe>
		</div>
	</div>

	<script src="https://smtpjs.com/v3/smtp.js"></script>
	<script type="module" src="js/script.js"></script>
	

<script async src="//call-tracking.by/scripts/calltracking.js?707e301d-d346-4c8c-a95b-b1a00321e251"></script>
<script type="text/javascript" src="https://spikmi.com/Widget?Id=1702"></script>
</body>
</html>